
  <div *ngIf="cow" class="max-w-2xl mx-auto my-8">
    <h2 class="text-2xl font-bold mb-4">Cow Details</h2>
    <div class="bg-white rounded-lg shadow-lg p-8">
      <div class="flex items-center mb-4">
        <div class="flex-none mr-4">
          <img src="https://via.placeholder.com/220" alt="Cow Image" class="w-45 h-45 rounded-full">
        </div>
        <div>
          <h3 class="text-xl font-semibold">{{ cow.name }}</h3>
          <p class="text-gray-500">{{ cow.tag_number }}</p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h4 class="text-lg font-semibold mb-2">Details</h4>
          <ul class="list-disc list-inside">
            <li><strong>Breed:</strong> {{ cow.breed }}</li>
            <li><strong>Birth Date:</strong> {{ cow.date_of_birth | date }}</li>
            <li><strong>Gender:</strong> {{ cow.gender }}</li>
            <li><strong>Availability:</strong> {{ cow.availability_status }}</li>
            <li><strong>Pregnancy Status:</strong> {{ cow.pregnancy_status }}</li>
          </ul>
        </div>
        <div>
          <h4 class="text-lg font-semibold mb-2">Family</h4>
          <ul class="list-disc list-inside">
            <li><strong>Sire:</strong> {{ cow.sire?.name }}</li>
            <li><strong>Dam:</strong> {{ cow.dam?.name }}</li>
            <li><strong>Calf:</strong> {{ cow.calf?.name }}</li>
          </ul>
        </div>
      </div>
      <div class="mt-8">
        <button class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" (click)="onDelete()">Delete Cow</button>
        <button routerLink="/dairy/cows/update/{{cow.id}}" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Update Cow
            </span>
        </button>
      </div>
    </div>
  </div>
  ``
  