<h2 class="text-5xl font-bold text-center mt-8 bg-cover bg-center bg-repeat text-transparent bg-clip-text">Pregnancy Records</h2> <!-- style="background-image: url('https://source.unsplash.com/random'); -->
    <p *ngIf="loading">Loading pregnancies...</p>
    <ul>
      <div *ngFor="let pregnancy of pregnancies" routerLink="{{pregnancy.id}}" >
        <div class="bg-white shadow-md rounded-md overflow-hidden p-4">
            <div class="flex justify-between items-center mb-4">
              <h2 class="text-2xl font-bold">Pregnancy Record #{{ pregnancy.id }}</h2>
              <p class="text-gray-500">{{ pregnancy.start_date }}</p>
            </div>
            <div class="grid grid-cols-2 gap-4">
              <div class="flex flex-col justify-center items-center border border-gray-200 rounded-md p-4">
                <p class="text-gray-500">Cow ID</p>
                <h3 class="text-3xl font-bold">{{ pregnancy.cow_tag_number }}</h3>
              </div>
              <div class="flex flex-col justify-center items-center border border-gray-200 rounded-md p-4">
                <p class="text-gray-500">Pregnancy Status</p>
                <h3 class="text-3xl font-bold">{{ pregnancy.pregnancy_status }}</h3>
              </div>
              <div class="flex flex-col justify-center items-center border border-gray-200 rounded-md p-4">
                <p class="text-gray-500">Pregnancy Outcome</p>
                <h3 class="text-3xl font-bold">{{ pregnancy.pregnancy_outcome }}</h3>
              </div>
              <div class="flex flex-col justify-center items-center border border-gray-200 rounded-md p-4">
                <p class="text-gray-500">Date of Calving</p>
                <h3 class="text-3xl font-bold">{{ pregnancy.date_of_calving }}</h3>
              </div>
            </div>
            <div class="flex justify-between items-center mt-4">
              <div class="flex flex-col">
                <p class="text-gray-500 mb-2">Pregnancy Notes</p>
                <p class="font-medium">{{ pregnancy.pregnancy_notes || 'N/A' }}</p>
              </div>
              <div class="flex flex-col">
                <p class="text-gray-500 mb-2">Calving Notes</p>
                <p class="font-medium">{{ pregnancy.calving_notes || 'N/A' }}</p>
              </div>
            </div>
          </div>
      </div>

    </ul>