
<div class="container mx-auto mt-12 text-center text-gray-800">
  <h1 class="text-3xl font-bold mb-4">Welcome to Peter's Dairy</h1>
</div>

<div class="flex justify-center">
  <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGI3NTBhZTQzNzA3MTRhNmZkNDc2OGNkOThlYzg5YmM2ZjBhNTUwOSZjdD1n/XncE2zmvthjyg/giphy.gif"
       alt="GIF"
       style="width: 80%; border-radius: 20px; filter: blur(1px);">
</div>

<div class="container mx-auto mt-12 grid grid-cols-2 gap-8 text-center text-gray-800">
  <div>
    <p class="text-lg mb-6"><em>Our cows are happy and healthy, living in a stress-free environment to ensure the highest quality milk.</em></p>
    <p class="text-lg mb-6"><em>At Peter's Dairy, we believe in sustainable farming practices that benefit our cows, the environment, and our customers. Our commitment to responsible farming means that we use only the best ingredients and never cut corners when it comes to quality.</em></p>
  </div>
  <div>
    <p class="text-lg"><em>Thank you for supporting our farm and helping us to continue doing what we love. We hope you enjoy our dairy products as much as we enjoy producing them!</em></p>
    <a class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" routerLink="/dairy/cows"><em>View Our Dairy Cows List</em></a>
  </div>
</div>


