<div class="grid grid-cols-2 gap-4">
    <total-daily-milk-production></total-daily-milk-production>
    <total-alive-cows></total-alive-cows>
    <milked-cows-today></milked-cows-today>
    <total-pregnant-cows></total-pregnant-cows>
    <total-lactating-cows></total-lactating-cows>
    <!-- <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="flex items-center justify-between">
        <div class="text-sm font-medium text-gray-500">Milk Production Increase</div>
        <div class="flex items-center">
          <div class="text-2xl font-bold text-green-500 mr-2">+30%</div>
          <div class="bg-green-200 text-green-800 rounded-lg p-1 text-sm">From Yesterday</div>
        </div>
      </div>
    </div> -->
</div>
  

  <milk-production-weekly-chart></milk-production-weekly-chart>