<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center mb-4">
      <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Milk Records in the Farm</h1>
      <a routerLink="/dairy/milk/add" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded">
          Add Milk Record
      </a>
  </div>
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3 font-semibold tracking-wider">
                      Cow's Tag Number
                  </th>
                  <th scope="col" class="px-6 py-3 font-semibold tracking-wider">
                      Milking Date
                  </th>
                  <th scope="col" class="px-6 py-3 font-semibold tracking-wider">
                      Amount (kg)
                  </th>
                  <th scope="col" class="px-6 py-3 font-semibold tracking-wider">
                      Lactation Stage
                  </th>
              </tr>
          </thead>
          <tbody *ngFor="let milk of milks">
              <tr routerLink="{{milk.id}}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                      {{milk.cow_tag_number}}
                  </td>
                  <td class="px-6 py-4">
                      {{milk.milking_date | date: 'mediumDate'}}
                  </td>
                  <td class="px-6 py-4">
                      {{milk.amount_in_kgs }}
                  </td>
                  <td class="px-6 py-4">
                      {{milk.lactation.lactation_stage }}
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
