<div class="flex flex-col justify-center items-center">
  <form class="w-full max-w-md">
    <div class="mb-4">
      <label for="cow" class="block text-gray-700 font-bold mb-2">Cow:</label>
      <select [(ngModel)]="milk.cow" id="cow" name="cow" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="">Select Cow</option>
        <option *ngFor="let cow of cows" [ngValue]="cow.id">{{ cow.name }}</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="amount" class="block text-gray-700 font-bold mb-2">Amount (in kgs):</label>
      <input type="number" name="amount" [(ngModel)]="milk.amount_in_kgs" id="amount" placeholder="Enter amount" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>
    <div class="flex items-center justify-center">
      <button type="button" [disabled]="!milk.cow || !milk.amount_in_kgs || milk.amount_in_kgs < 0" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onSubmit()">Update Milk Record</button>
    </div>
  </form>
</div>
