<div class="flex justify-center">
  <div class="w-full max-w-md">

    <h1 class="text-2xl text-center font-bold mb-4">Add a new Cow record.</h1>

    <form #cowForm="ngForm" (submit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="relative mb-4">
        <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newCow.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              (mouseenter)="nameTouched = true" (mouseleave)="nameTouched = false">
        <div *ngIf="nameTouched && !newCow.name" class="absolute bottom-0 left-0 mb-8 p-2 bg-yellow-300 rounded text-sm">
          Name is Optional.
        </div>
      </div>
      <div class="mb-4">
        <label for="breed" class="block text-gray-700 font-bold mb-2">Breed:</label>
        <select id="breed" name="breed" [(ngModel)]="newCow.breed" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option *ngFor="let breed of breeds" [value]="breed">{{breed}}</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="dateOfBirth" class="block text-gray-700 font-bold mb-2">Date of birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newCow.date_of_birth" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="gender" class="block text-gray-700 font-bold mb-2">Gender:</label>
        <div class="flex items-center">
          <input type="radio" id="female" name="gender" value="Female" [(ngModel)]="newCow.gender" class="mr-2">
          <label for="female" class="text-gray-700 font-bold">Female</label>
        </div>
        <div class="flex items-center">
          <input type="radio" id="male" name="gender" value="Male" [(ngModel)]="newCow.gender" (click)="maleSelected = true" class="mr-2">
          <label for="male" class="text-gray-700 font-bold">Male</label>
        </div>
      </div>

      <div class="mb-4">
        <label for="availabilityStatus" class="block text-gray-700 font-bold mb-2">Availability status:</label>
        <div class="flex items-center">
          <input type="radio" id="alive" name="availabilityStatus" value="Alive" [(ngModel)]="newCow.availability_status" class="mr-2" [checked]>
          <label for="alive" class="text-gray-700 font-bold">Alive</label>
        </div>
      </div>
      <div class="mb-4">
        <label for="pregnancyStatus" class="block text-gray-700 font-bold mb-2">Pregnancy status:</label>
        <div class="flex items-center">
          <input type="radio" id="notPregnant" name="pregnancyStatus" value="Not Pregnant"
                [(ngModel)]="newCow.pregnancy_status" class="mr-2"
                [checked]="newCow.gender === 'Male'">
          <label for="notPregnant" class="text-gray-700 font-bold">Not Pregnant</label>
        </div>
        <div *ngIf="newCow.gender === 'Female'" class="flex items-center">
          <input type="radio" id="pregnant" name="pregnancyStatus" value="Pregnant"
                [(ngModel)]="newCow.pregnancy_status" class="mr-2">
          <label for="pregnant" class="text-gray-700 font-bold">Pregnant</label>
        </div>
        <div *ngIf="newCow.gender === 'Female'" class="flex items-center">
          <input type="radio" id="calved" name="pregnancyStatus" value="Calved"
                [(ngModel)]="newCow.pregnancy_status" class="mr-2">
          <label for="calved" class="text-gray-700 font-bold">Calved</label>
        </div>
      </div>
      <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Add Cow</button>
    </form>

  </div>
</div>

