
<div class="flex justify-center items-center h-screen">
  <mat-card class="w-96" style="background-color: rgb(96, 108, 97);">
    <mat-card-header class="justify-center">
      <mat-card-title>Login...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label class="custom-mat-form-field">Username</mat-label>
            <input matInput type="text" placeholder="Username" formControlName="username">
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="flex justify-center">
          <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>